{% load i18n %}

<style>
    /* Umumiy sahifa dizayni */
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        color: #333;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 20px;
    }

    .form-container, .error-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 28px;
        color: #333;
        font-weight: 700;
    }

    h2 {
        font-size: 24px;
        color: #4CAF50; /* Yashil rang muvaffaqiyat uchun */
        font-weight: 700;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left;
    }

    .form-group input, .form-group select, .form-group textarea {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        margin-top: 8px;
        box-sizing: border-box;
    }

    .form-group input:focus, .form-group select:focus, .form-group textarea:focus {
        border-color: #007BFF;
        outline: none;
    }

    button[type="submit"] {
        background-color: #007BFF;
        color: white;
        padding: 14px 24px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        margin-top: 20px;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .error-message {
        color: #E74C3C; /* Xato uchun qizil rang */
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .error-container {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
    }

    .success-message {
        margin-bottom: 20px;
        color: #28a745; /* Muvaffaqiyat yashil */
        font-size: 18px;
        font-weight: 600;
    }

</style>

<div class="container">
    {% if validlink %}
        <div class="form-container">
            <h2>{% trans "Parolni tiklash" %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit">{% trans "Yuborish" %}</button>
            </form>
        </div>
    {% else %}
        <div class="error-container">
            <h1 class="error-message">{% trans "Noto'g'ri yoki muddat o'tgan" %}</h1>
            <p>{% trans "Linkingiz noto'g'ri yoki muddati o'tgan. Iltimos, yangi link so'rang." %}</p>
        </div>
    {% endif %}
</div>
